* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  color: white;
}

.info {
  display: flex;
  flex-direction: column;
}


.text {
  margin-left: 14%;
}

.linha {
  width: 11%;
}

.texto2 {
  margin-left: 14%;

}

.formacao {
  margin-left: 14%;
}

.cursos {
  margin-left: 14%;
}

.linha1 {
  width: 23%;
}
